<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Success</title>
    </head>
    <script>

        function getQuery( name ){ name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]"); var regexS = "[\\?&]"+name+"=([^&#]*)"; var regex = new RegExp( regexS ); var results = regex.exec( window.location.href ); if( results == null ) return ""; else return results[1];}
        
        </script>
    <body >
      <h1 onclick="myFunction()">Transcation Successful</h1>
      
        PaymentId : <script>document.write(getQuery('paymentId'));</script>
        <br/>
        Token : <script>document.write(getQuery('token'));</script>
        <br/>
        PayerID : <script>document.write(getQuery('PayerID'));</script>
        <br/>
        UserID : <script>document.write(getQuery('userId'));</script>
        <br/>
        Cost : <script>document.write(getQuery('cost'));</script>
        <br/>
        Days : <script>document.write(getQuery('days'));</script>

        </form>
    </body>
</html>